<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
   <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Log4net" />
    </configSections>
    <log4net>
      <root>
        <level value="DEBUG" />
        <appender-ref ref="LogFileAppender" />
      </root>
      <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value=".\log\CMEngine.log" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
        <maxSizeRollBackups value="100" />
        <maximumFileSize value="100MB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger: %message%newline" />
        </layout>
      </appender>
    </log4net>    
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <appSettings>
    <add key="SaveFolder" value=".\output\saves"/>
    <add key="IBIPAddress" value="127.0.0.1"/>
    <add key="IBPort" value="7497"/>
    <add key="TDAccountID" value ="12345"/>
    <add key="TDToken" value ="token"/>
    <add key="TDAppID" value ="xyz"/>
  </appSettings>

</configuration>